name: Update Rules

on:
  schedule:
    # 每天 UTC 时间 22:00 运行 (对应北京时间次日早上 06:00)
    - cron: '0 22 * * *'
  workflow_dispatch: # 允许手动点击按钮触发

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write  # 赋予写入权限以便提交更改

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run script
      run: python main.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        # 检查是否有文件变化
        git add result.list
        git diff --quiet && git diff --staged --quiet || (git commit -m "Auto update rules [skip ci]" && git push)
